body {
  background: linear-gradient(#ff3c00, #ff9d6e);
  font-family: 'Inter', sans-serif;
  margin: 0;
  text-align: center;
  color: #fff;
}

h1, h2 {
  font-family: 'Rubik Mono One', sans-serif;
}

.logo {
  width: 80px;
}

header {
  padding: 20px;
  background: #b30000;
}

nav {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.aba-btn {
  background: #ffcc00;
  color: #b30000;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.aba-btn:hover {
  transform: scale(1.1);
  background: #ffe066;
}

.mcqueen {
  width: 80%;
  max-width: 350px;
  margin-top: 20px;
  filter: drop-shadow(0 0 10px #000);
}

.aba {
  display: none;
  padding: 20px;
  max-width: 650px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.ativa {
  display: block;
}

.interacao button {
  padding: 15px 30px;
  font-size: 20px;
  background: #ffcc00;
  color: #b30000;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

footer {
  background: #b30000;
  padding: 15px;
  margin-top: 30px;
}
